.comments{

    &__title{
        @extend %h2;
    }
    &__text{
        @extend %h2_p;
        margin-bottom: 30px;
    }
    &__list{
       display: flex;
       justify-content: space-between;
       text-align: center;
       background-color:#F3F3F1;
       padding: 40px 0px;
       &-item{
        flex-basis: 400px;
        padding: 0 40px;
        font-size: 15px;
       }
       &-item:not(:last-child){
        flex-basis: 400px;
        border-right: 1px solid #d6d5d3;
       }
    }

}