.footer{
    background-color: rgb(11, 42, 82);
    padding: 12px 0;
    font-size: 39px;
    text-align: center;
    color:#979797;
}

@media(max-width: 1200px){
    .footer{
        background-color: #979797;
    }
}