.header{
   padding: 20px 0;
    
}
.menu{
    display: flex;
    &__link{
        display: inline-block;
        margin-right: 150px;
        color: rgb(104, 104, 104);
        
        
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:550px;
    }
    &__list-link{
        color: rgb(104, 104, 104);
        &:hover{
        color: #DFC68B;
        
        }
    }
}